<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>InscriptionController</servlet-name>
        <servlet-class>controller.InscriptionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ApiController</servlet-name>
        <servlet-class>controller.ApiController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InscriptionController</servlet-name>
        <url-pattern>/InscriptionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ApiController</servlet-name>
        <url-pattern>/ApiController</url-pattern>
    </servlet-mapping>
</web-app>
