<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/contenu.css" rel="stylesheet">
    <link href="../css/menu.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <title>Analyse Commission</title>
</head>
<body ng-app="analyseApp" ng-controller="AnalyseController">
    <div id="menu-container"></div>

    <form ng-submit="analyser()">
        <div class="recherche-produits row g-3" id="contenu">
            <div class="col-md-3" id="input-recherche">
                <label style="color: white;">Type d'analyse</label>
                <select name="crypto" id="floatingMontant" class="form-control">
                    <option value="Somme">Somme</option>
                    <option value="Moyenne">Moyenne</option>
                </select>
            </div>

            <div class="col-md-3" id="input-recherche">
                <label style="color: white;">Date min: </label>
                <input type="date" placeholder="date1" name="date1" class="form-control">
            </div>

            <div class="col-md-3" id="input-recherche">
                <label style="color: white;">Date max: </label>
                <input type="date" placeholder="date1" name="date2" class="form-control">
            </div>
        </div>

        <div class="checkbox-container d-flex justify-content-center flex-wrap" id="contenu">
            <div class="form-check me-3">
                <input type="checkbox" class="form-check-input custom-checkbox" ng-model="analyse.tous" id="tous">
                <label class="form-check-label" for="tous">Tous</label>
            </div>
            <div class="form-check me-3" ng-repeat="crypto in cryptos">
                <input type="checkbox" class="form-check-input custom-checkbox" ng-model="analyse.cryptos[crypto]" id="{{crypto}}">
                <label class="form-check-label" for="{{crypto}}">{{crypto}}</label>
            </div>
        
            <div class="col-md-3" id="recherche-analyse">
                <button type="submit" class="btn btn-primary">Analyser</button>
            </div>
        </div>
               

    </form>

    <div class="resultat mt-5" ng-if="resultat">
        <center>
        <h3 class="resultat-titre">Résultat de l'Analyse</h3>
        <h3>{{resultat}}</h3>
        </center>
    </div>
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var app = angular.module('analyseApp', []);
        app.controller('AnalyseController', function($scope) {
            $scope.cryptos = ['Bitcoin', 'Ethereum', 'Ripple', 'Litecoin', 'Chainlink', 'Cardano', 'Polkadot', 'Stellar', 'Dogecoin', 'Solana'];
            $scope.analyse = {
                type: '',
                cryptos: {},
                dateMin: '',
                dateMax: '',
                tous: false
            };

            $scope.analyser = function() {
                // // Simuler une analyse et afficher des résultats fictifs
                // let analyseType = $scope.analyse.type;
                // let selectedCryptos = $scope.analyse.tous ? $scope.cryptos : Object.keys($scope.analyse.cryptos).filter(crypto => $scope.analyse.cryptos[crypto]);
                // let dateMin = $scope.analyse.dateMin;
                // let dateMax = $scope.analyse.dateMax;

                // $scope.resultats = [
                //     `Type d'analyse: ${analyseType}`,
                //     `Cryptomonnaies sélectionnées: ${selectedCryptos.join(', ')}`,
                //     `Date minimum: ${dateMin}`,
                //     `Date maximum: ${dateMax}`
                // ];

                $scope.resultat= "12000";
            };
        });

        fetch('../menu.html')
        .then(response => response.text())
        .then(data => {
            document.getElementById('menu-container').innerHTML = data;
        });
    </script>
</body>
</html>
