<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/contenu.css" rel="stylesheet">
    <link href="../css/menu.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="../js/ListeTransaction.js"></script>

    <title>Liste Transactions</title>
</head>
<body ng-controller="ListeTransactionController">
    <div id="menu-container"></div>

    <form >
        <div class="recherche-produits row g-3" id="contenu">
            <div class="col-md-3" id="input-recherche">
                <label style="color: white;">Cryptomonnaie: </label>
                <select name="crypto" id="floatingMontant" class="form-control" ng-model="idCrypto">
                    <option ng-repeat="crypto in cryptos" ng-value="crypto.id">{{ crypto.nom }}</option>
                </select>
            </div>

            <div class="col-md-3" id="input-recherche">
                <label style="color: white;">Type Transaction: </label>
                <select name="type" id="floatingMontant" class="form-control" ng-model="idType">
                    <option ng-value="1">Vente</option>
                    <option ng-value="2">Achat</option>
                </select>
            </div>

            <div class="col-md-3" id="input-recherche">
                <label style="color: white;">Utilisateur: </label>
                <select name="user" id="floatingMontant" class="form-control" ng-model="idUser">
                    <option ng-repeat="user in users" ng-value="user.id">{{ user.nom }}</option>
                </select>
            </div>

            <div class="col-md-3" id="input-recherche">
                <button type="submit" class="btn btn-primary" style="margin-top: 24px;">Filtrer</button>
            </div>
        </div>
    </form>

        <div class="tableau">
            <table class="table table">
                <thead>
                    <tr>
                        <th scope="col">Utilisateur</th>
                        <th scope="col">Type transaction</th>
                        <th scope="col">Cryptomonnaie</th>
                        <th scope="col">Quantite</th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <tr ng-repeat="trans in transactions">
                            <td scope="col">{{ trans.user.nom }}</td>
                            <td scope="col">{{ trans.type.type }}</td>
                            <td scope="col">{{ trans.crypto.nom }}</td>
                            <td scope="col">{{ trans.quantite }}</td>
                            <td scope="col">{{ trans.date }}</td>
                        </tr>
                    </tr>
                </tbody>
                
            </table>
        </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        fetch('../menu.html')
            .then(response => response.text())
            .then(data => {
                var menuContainer = document.getElementById('menu-container');
                menuContainer.innerHTML = data;

                var $scope = angular.element(menuContainer).scope();
                angular.element(menuContainer).injector().get('$compile')(menuContainer)($scope);

                $scope.$digest();
            });
    </script>
</body>
</html>
